.bean-table thead {
    font-weight: 700;
    background: var(--lumo-contrast-5pct);
}

.bean-table[theme~="padding"] thead th {
	padding-top: var(--lumo-space-s);
    padding-bottom: var(--lumo-space-s);
	padding-left: var(--lumo-space-xs);
	padding-right: var(--lumo-space-xs);
}

.bean-table[theme~="padding"] tbody td {
	padding-left: var(--lumo-space-s);
    padding-right: var(--lumo-space-s);
}

.bean-table tbody td {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.bean-table .index {
	display: none;
}

.bean-table td.index {
    background: var(--lumo-contrast-5pct);
}

.bean-table[theme~="row-index"] .index {
	display: table-cell;
    font-weight: 700;
}

.bean-table tbody th {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.bean-table[theme~="wrap-cell-content"] tbody td {
	white-space: normal;
}

.bean-table[theme~="wrap-cell-content"] tbody th {
	white-space: normal;
}

.bean-table:not([theme~="no-row-borders"]) td {
    border-top: 1px solid var(--lumo-contrast-20pct);
    border-bottom: 1px solid var(--lumo-contrast-20pct);
}

.bean-table[theme~="column-borders"] td {
    border-right: 1px solid var(--lumo-contrast-20pct);
    border-left: 1px solid var(--lumo-contrast-20pct);
}

.bean-table td:focus {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.bean-table:not([theme~="no-border"]) {
	border: 1px solid var(--lumo-contrast-20pct);
} 

.bean-table th:focus {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.bean-table:not([theme~="no-row-borders"]) th {
    border-top: 1px solid var(--lumo-contrast-20pct);
    border-bottom: 1px solid var(--lumo-contrast-20pct);
}

.bean-table[theme~="column-borders"] th {
    border-right: 1px solid var(--lumo-contrast-20pct);
    border-left: 1px solid var(--lumo-contrast-20pct);
}

.bean-table[theme~="row-stripes"] tbody tr:not(.even) {
	background: var(--lumo-contrast-5pct);
}

.bean-table-page:focus {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.bean-table {
    border-collapse: collapse;
}

.bean-table-paging {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.bean-table-page {
	flex-grow: 1;
	text-align: center;
}

.bean-table caption {
    color: var(--lumo-secondary-text-color);
	font-weight: 500;
	font-size: var(--lumo-font-size-s);
	transition: color 0.2s;
	line-height: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	max-width: 100%;
	box-sizing: border-box;
    padding-right: 1em;
    padding-bottom: 0.5em;	
    margin-left: calc(var(--lumo-border-radius-m) / 4);    
}

.bean-table .menu-button {
	position: fixed;
	right: 20px;
}