.bean-table thead {
    font-weight: 700;
    background: var(--lumo-contrast-5pct);
}

.bean-table td {
    border: 1px solid var(--lumo-contrast-20pct)
}

.bean-table {
    border-collapse: collapse;
}

.bean-table-paging {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.bean-table-page {
	flex-grow: 1;
	text-align: center;
}
