.bean-table thead {
    font-weight: 700;
    background: var(--lumo-contrast-5pct);
}

.bean-table td {
    border: 1px solid var(--lumo-contrast-20pct)
}

.bean-table td:focus {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}


.bean-table th:focus {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.bean-table th {
    border: 1px solid var(--lumo-contrast-20pct)
}

.bean-table-page:focus {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
    outline: unset;
}

.bean-table {
    border-collapse: collapse;
}

.bean-table-paging {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.bean-table-page {
	flex-grow: 1;
	text-align: center;
}

.bean-table caption {
    color: var(--lumo-secondary-text-color);
	font-weight: 500;
	font-size: var(--lumo-font-size-s);
	transition: color 0.2s;
	line-height: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	max-width: 100%;
	box-sizing: border-box;
    padding-right: 1em;
    padding-bottom: 0.5em;	
    margin-left: calc(var(--lumo-border-radius-m) / 4);    
}
